<%- layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3 mb-5">
        <div class="card mb-3">
            <% if (!athlete.picture) {%>
                <div class= "col-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/3586/3586930.png" class="card-img-top" alt="No picture">   
                </div>
            <% } else {%>
                <img src="<%=athlete.picture%>" class="card-img-top" alt="picture:<%=athlete.firstName%>">
            <% } %>  
            <div class="card-body">
                <h5 class="card-title text-center"><%=athlete.firstName%> <%=athlete.lastName%></h5>
                <p class="card-text"><%= athlete.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Genero: <a href="/users?gender=<%= athlete.gender %>"><%= athlete.gender %></a> <br> Edad: <%= athlete.age %> años</li>
                <li class="list-group-item">Peso: <%= athlete.weight %> kg <br> Estatura: <%= athlete.height %> cm <br> Envergadura: <%= athlete.wingSpan %> cm </li>
                <li class="list-group-item">Grado En Ruta:  <a href="/users?redpointLead=<%= athlete.redpointLead %>"><%= athlete.redpointLead %></a> <br> Grado En Boulder:  <a href="/users?redpointBoulder=<%= athlete.redpointBoulder %>"><%= athlete.redpointBoulder %></a></li>        
                <li class="list-group-item">
                    <%  if (athlete.test.length) { %>
                    <ul> <% for(let test of athlete.test){  %> 
                        <li> <b>Test:</b> <a href="/test/<%= test._id %>"> <%= test.name %></a> <b>Resultado:</b> <%= test.result %></li>
                        <% } %> 
                    </ul>
                    <% } else{ %>
                    <ul>
                        <li>Aun no se han agregado test </li>
                    </ul>    
                    <% } %> 
                
                </li>        
                <div class="list-group-item">    
                    <a href="/users" class="card-link">Ver Todos Los Atletas</a>
                </div>
                <div class="list-group-item text-end">
                    <form action="/user/<%= athlete._id %>/test/new">
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-dark">Agregar Test</button>
                        </div>
                    </form>
                </div>
                <div class="list-group-item">
                    <form action="/user/<%= athlete._id %>/edit">
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-dark">Editar</button>
                        </div>
                    </form>
                </div>  
                <div class="list-group-item text-end">
                    <form action="/user/<%= athlete._id %>?_method=DELETE" method="POST">
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-danger">Eliminar</button>
                        </div>
                    </form>
                </div>
            </ul>
        </div>
    </div>
</div>
