<%- layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">Editar <%=athlete.firstName%> <%= athlete.lastName %></h1>
    <div class="col-6 offset-3">
        <form action="/user/<%=athlete._id%>?_method=PUT" method="POST" novalidate class="validate-form">
            <div class="mb-2">
                <label for="firstName" class="form-label">Nombre</label>
                <input class="form-control" aria-label=".form-select-lg example" type="text" name="athlete[firstName]" id="firstName" placeholder="Nombre" value="<%= athlete.firstName %>" required>
                <div class="valid-feedback">Bien!</div>
            </div>
            <div class="mb-2">
                <label for="lastName" class="form-label">Apellido</label>
                <input class="form-control" aria-label=".form-select-lg example" type="text" name="athlete[lastName]" id="lastName" placeholder="Apellido" value="<%= athlete.lastName %>" required>
                <div class="valid-feedback">Bien!</div>
            </div>
            <div class="mb-2">
                <label for="age" class="form-label">Edad</label>
                <select name="athlete[age]" id="age" value="<%= athlete.age %>" class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let k = 15; k <= 70; k++ ){%>
                        <option value="<%=k%>" <%= athlete.age === k ? 'selected' : '' %> > <%=k%></option>  
                    <% } %>  
                </select>
            </div>
            <div class="mb-2">
                <label for="gender" class="form-label">Genero</label>
                <select name="athlete[gender]" id="gender" value="<%= athlete.gender %> " class="col-md-2 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let g of genders){%>
                        <option value="<%=g%>" <%= athlete.gender === g ? 'selected' : '' %> > <%=g%> </option>  
                    <% } %>     
                </select>
            </div>
            <div class="mb-2">
                <label for="picture" class="form-label">Picture</label>
                <input class="form-control" type="text" name="athlete[picture]" id="picture" placeholder="URL" value="<%= athlete.picture %>" class="col-md-8 form-select-sm mb-3" aria-label=".form-select-lg example" required>
                <div class="valid-feedback">Bien!</div>
            </div>  
            <div class="mb-2">
                <label for="weight" class="form-label">Peso</label>
                <select name="athlete[weight]" id="weight" value="<%= athlete.weight %> " class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let i = 40; i <= 100; i++ ){%>
                        <option value="<%=i%>" <%= athlete.weight === i ? 'selected' : '' %> > <%=i%> kg</option>  
                    <% } %>  
                </select>
            </div> 
            <div class="mb-2">
                <label for="height" class="form-label">Estatura</label>
                <select name="athlete[height]" id="height" value="<%= athlete.height %> " class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let j = 140; j <= 210; j++ ){%>
                        <option value="<%=j%>" <%= athlete.height === j ? 'selected' : '' %> > <%=j%> cm</option>  
                    <% } %>  
                </select>
            </div>
            <div class="mb-2">
                <label for="wingSpan" class="form-label">Envergadura</label>
                <select name="athlete[wingSpan]" id="wingSpan" value="<%= athlete.wingSpan %> " class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let l = 140; l <= 210; l++ ){%>
                        <option value="<%=l%>" <%= athlete.wingSpan === l ? 'selected' : '' %> ><%=l%> cm</option>  
                    <% } %>  
                </select>
           </div>
           <div class="mb-2">
                <label for="lead" class="form-label">Maximo Grado en Ruta</label>
                <select name="athlete[redpointLead]" id="lead" value="<%= athlete.redpointLead %>" class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let grade of grades){%>
                        <option value="<%=grade%>" <%= athlete.redpointLead === grade ? 'selected' : '' %> > <%=grade%> </option>  
                    <% } %>   
                </select>
           </div>
           <div class="mb-2">
                <label for="boulder" class="form-label">Maximo Grado en Boulder</label>
                <select name="athlete[redpointBoulder]" id="boulder" value="<%= athlete.redpointBoulder %> " class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let grade of gradesBoulder){%>
                        <option value="<%=grade%>" <%= athlete.redpointBoulder === grade ? 'selected' : '' %> > <%=grade%> </option>  
                    <% } %> 
                </select>
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Descripción: </label>
                <textarea class="form-control" type="text" name="athlete[description]" id="description"><%= athlete.description %></textarea>  
            </div>  
            <div class="d-grid gap-2 mb-2">
                <button class="btn btn-dark">Guardar Cambios</button>
            </div>
        </form> 
        <form action="/user/<%=athlete._id%>">
            <div class="d-grid gap-2 mb-2">
                <button class="btn btn-dark">Cancelar</button>
            </div>
        </form>       
    </div>
</div>

