<%- layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">Editar <%=trainer.firstName%> <%= trainer.lastName %></h1>
    <div class="col-md-6 offset-md-3">
        <form action="/trainers/<%=trainer._id%>?_method=PUT"  method="POST" novalidate class="validate-form"  enctype="multipart/form-data">
            <div class="mb-2">
                <label for="firstName" class="form-label">Nombre</label>
                <input class="form-control" aria-label=".form-select-lg example" type="text" name="trainer[firstName]" id="firstName" placeholder="Nombre" value="<%= trainer.firstName %>" required>
                <div class="valid-feedback">Bien!</div>
            </div>
            <div class="mb-2">
                <label for="lastName" class="form-label">Apellido</label>
                <input class="form-control" aria-label=".form-select-lg example" type="text" name="trainer[lastName]" id="lastName" placeholder="Apellido" value="<%= trainer.lastName %>" required>
                <div class="valid-feedback">Bien!</div>
            </div>
            <div class="mb-2">
                <label for="age" class="form-label">Edad</label>
                <select name="trainer[age]" id="age" value="<%= trainer.age %>" class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let k = 15; k <= 70; k++ ){%>
                        <option value="<%=k%>" <%= trainer.age === k ? 'selected' : '' %> > <%=k%></option>  
                    <% } %>  
                </select>
            </div>
            <div class="mb-2">
                <label for="gender" class="form-label">Genero</label>
                <select name="trainer[gender]" id="gender" value="<%= trainer.gender %> " class="col-md-2 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let g of genders){%>
                        <option value="<%=g%>" <%= trainer.gender === g ? 'selected' : '' %> > <%=g%> </option>  
                    <% } %>     
                </select>
            </div>
            <div class="mb-2">
                <label for="weight" class="form-label">Peso</label>
                <select name="trainer[weight]" id="weight" value="<%= trainer.weight %> " class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let i = 40; i <= 100; i++ ){%>
                        <option value="<%=i%>" <%= trainer.weight === i ? 'selected' : '' %> > <%=i%> kg</option>  
                    <% } %>  
                </select>
            </div> 
            <div class="mb-2">
                <label for="height" class="form-label">Estatura</label>
                <select name="trainer[height]" id="height" value="<%= trainer.height %> " class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let j = 140; j <= 210; j++ ){%>
                        <option value="<%=j%>" <%= trainer.height === j ? 'selected' : '' %> > <%=j%> cm</option>  
                    <% } %>  
                </select>
            </div>
            <div class="mb-2">
                <label for="wingSpan" class="form-label">Envergadura</label>
                <select name="trainer[wingSpan]" id="wingSpan" value="<%= trainer.wingSpan %> " class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let l = 140; l <= 210; l++ ){%>
                        <option value="<%=l%>" <%= trainer.wingSpan === l ? 'selected' : '' %> ><%=l%> cm</option>  
                    <% } %>  
                </select>
           </div>
           <div class="mb-2">
                <label for="lead" class="form-label">Maximo Grado en Ruta</label>
                <select name="trainer[redpointLead]" id="lead" value="<%= trainer.redpointLead %>" class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let grade of grades){%>
                        <option value="<%=grade%>" <%= trainer.redpointLead === grade ? 'selected' : '' %> > <%=grade%> </option>  
                    <% } %>   
                </select>
           </div>
           <div class="mb-2">
                <label for="boulder" class="form-label">Maximo Grado en Boulder</label>
                <select name="trainer[redpointBoulder]" id="boulder" value="<%= trainer.redpointBoulder %> " class="col-md-1 form-select-sm mb-3" aria-label=".form-select-lg example">
                    <% for(let grade of gradesBoulder){%>
                        <option value="<%=grade%>" <%= trainer.redpointBoulder === grade ? 'selected' : '' %> > <%=grade%> </option>  
                    <% } %> 
                </select>
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Descripción: </label>
                <textarea class="form-control" type="text" name="trainer[description]" id="description"><%= trainer.description %></textarea>  
            </div>  

            <div class="mb-2">
                <label for="image" class="form-label">Add fotos</label>
                <input class="form-control" type="file" name="image" id="image" class="col-md-8 form-select-sm mb-3" aria-label=".form-select-lg example" multiple>
                <div class="valid-feedback">Bien!</div>
            </div>  
            <div class="d-grid gap-2 mb-2">
                <button class="btn btn-dark">Guardar Cambios</button>
            </div>
        </form> 
        <form action="/trainers/<%=trainer._id%>">
            <div class="d-grid gap-2 mb-2">
                <button class="btn btn-dark">Cancelar</button>
            </div>
        </form>       
    </div>
</div>

