<%- layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Agregar Entrenador</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/trainers" method="POST" novalidate class="validate-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="firstName" class="form-label">Nombre</label>
                <input name="trainer[firstName]" class="form-control" type="text"  id="firstName" placeholder="Nombre" required> 
                <div class="valid-feedback">Bien!</div>
                <div class="invalid-feedback">Please choose a first name.</div> 
            </div>
            <div class="mb-2">
                <label for="lastName" class="form-label">Apellido</label>
                <input name="trainer[lastName]" class="form-control" type="text"  id="lastName" placeholder="Apellido" required> 
                <div class="valid-feedback">Bien!</div> 
                <div class="invalid-feedback">Please choose a last name.</div> 
            </div>
            <div class="mb-2">
                <label for="location" class="form-label">Ubicaci贸n</label>
                <input name="trainer[location]" class="form-control" type="text"  id="location" placeholder="Ubicaci贸n" required> 
                <div class="valid-feedback">Bien!</div>
                <div class="invalid-feedback">Please choose a location.</div> 
            </div>
            <div class="col-md-3">
                <label for="age" class="form-label">Edad</label>
                <select name="trainer[age]" id="age" class="form-select mb-3" required>
                    <option selected disabled value="">-</option>
                    <% for(let k = 15; k <= 70; k++ ){%>
                        <option value="<%=k%>"> <%=k%></option>  
                    <% } %>  
                </select>
            </div>
            <div class="col-md-3">
                <label for="gender" class="form-label">Genero</label>
                <select name="trainer[gender]" id="gender" class="form-select mb-3" aria-label=".form-select-lg example" required>
                    <option selected disabled value="">-</option>
                    <% for(let g of genders){%>
                        <option value="<%=g%>"> <%=g%> </option>  
                    <% } %>  
                </select>
            </div>
            <div class="mb-2">
                <label for="experience" class="form-label">Experiencia como Escalador</label>
                <select name="trainer[experience]" id="experience" class="form-select-sm col-md-2 mb-3" aria-label=".form-select-lg example" required>
                    <option selected disabled value="">-</option>
                    <% for(let e of experience){%>
                        <option value="<%=e%>"> <%=e%></option>  
                    <% } %>  
                </select>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div> 
            <div class="mb-2">
                <label for="trainingExperince" class="form-label">Experiencia como Entrenador</label>
                <select name="trainer[trainingExperince]" id="trainingExperince" class="form-select-sm col-md-2 mb-3" aria-label=".form-select-lg example" required>
                    <option selected disabled value="">-</option>
                    <% for(let ee of experience){%>
                        <option vaue="<%=ee%>"> <%=ee%></option>  
                    <% } %>  
                </select>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div> 
           <div class="mb-2">
                <label for="lead" class="form-label">Maximo Grado en Ruta</label>
                <select name="trainer[redpointLead]" id="lead" class="col-md-2 form-select-sm mb-3" aria-label=".form-select-lg example" required>
                    <option selected disabled value="">-</option>
                    <% for(let grade of grades){%>
                        <option value="<%=grade%>"> <%=grade%> </option>  
                    <% } %>   
                </select>
           </div>
           <div class="mb-2">
            <label for="boulder" class="form-label">Maximo Grado en Boulder</label>
            <select name="trainer[redpointBoulder]" id="boulder" class="col-md-2 form-select-sm mb-3" aria-label=".form-select-lg example" required>
                <option selected disabled value="">-</option>
                <% for(let grade of gradesBoulder){%>
                    <option value="<%=grade%>"> <%=grade%> </option>  
                <% } %>   
            </select>
           </div>
           <div class="mb-2">
                <label for="image" class="form-label">Imagenes</label>
                <input class="form-control" type="file" name="image" id="image" class="col-md-8 form-select-sm mb-3" aria-label=".form-select-lg example" multiple>
            </div>  
            <div class="mb-2">
                <label for="description" class="form-label">Descripci贸n: </label>
                <textarea name="trainer[description]" class="form-control" type="text"  id="description" placeholder="Descripci贸n"></textarea>  
            </div>  
            <div class="d-grid gap-2 mb-2">
                <button class="btn btn-dark">Agregar</button>
            </div>
        </form> 
        <div class="mb-2">
            <a href="/trainers">Regresar a todos los atletas</a>
        </div>
    </div>
</div>


