<%- layout('layouts/boilerplate.ejs') %> 
<div class="row">
    <h1 class="text-center">Entrenadores</h1>
    <div class="col-6 offset-3 mb-3">
        <form action="/trainers/new">    
            <div class="d-grid gap-2 mb-2">
                <button class="btn btn-dark">Agregar Entrendor</button>
            </div>   
        </form>  
        <ul class="list-group">
            <% for (let trainer of trainers  ){%>
                <li class="list-group-item"><a href="/trainers/<%=trainer._id%>"><%=trainer.firstName%> <%=trainer.lastName%></a></li>
            <% } %> 
        </ul>  
    </div>
    <div class="col-6 offset-3 mb-3">
        <label for="filter" class="form-label"><b>Filtrar por: </b></label>
        <form action="/trainers" method="GET">
            <label for="filter" class="form-label"><b>Genero:</b></label>
            <div class="form-check">
                <% for(let g of genders){%>
                    <input class="form-check-input" name="gender" id="filter"type="radio" value="<%=g%>"> <%=g%> </option>  <br>
                <% } %>   
            </div>
            <div class="d-grid gap-2 my-2">
                <button class="btn btn-dark">Buscar</button>
            </div>
        </form>
        <div class="d-grid gap-2 my-2">
            <form action="/trainers">
                <div class="d-grid gap-2 my-2">
                    <button class="btn btn-dark">Reset Filtro</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="my-5">
    <span>
        <span class="text-muted">Entrenadores: <b> <%= counting %> </b> </span>
    </span>
</div>
    

