<%- layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
    <div class="col-6 mb-5">
        <div class="card mb-3">
            <% if (!test.picture) {%>
                <div class= "col-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/3586/3586930.png" class="card-img-top" alt="No picture">   
                </div>
            <% } %> 
            <div id="trainerCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% test.picture.forEach((pic, i) => { %> 
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                    <img src=" <%=pic.url %>" class="d-block w-100" alt="">
                    </div>
                    <% });%>  
                </div>
                <% if(test.picture.length > 1) {%> 
                <button class="carousel-control-prev" type="button" data-bs-target="#trainerCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#trainerCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <% } %> 
            </div> 
            <div class="card-body">
                <h6>By: <%= test.author.username %> <%= test.trainer.lastName %> </a></h6>
                <h5 class="card-title text-center"><%=test.name%></h5>
                <p class="card-text"><%= test.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Categoria: <%=test.categories%> </li>
                <li class="list-group-item">Resultado: <%= test.result %></li>
                <div class="list-group-item">    
                    <a href="/trainers/<%= test.trainer._id %>" class="card-link">Regresar al perfil </a>
                </div>
                <% if(currentUser && test.author.equals(currentUser)){ %>  
                <div class="list-group-item">
                    <form action="/test/<%= test._id %>/edit">
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-dark">Editar a <%=test.name%> </button>
                        </div>
                    </form>
                </div>  
                <div class="list-group-item text-end">
                    <form action="/trainers/<%=test.trainer._id%>/test/<%=test._id%>?_method=DELETE" method="POST">
                        <div class="d-grid gap-2 mb-2">
                            <button class="btn btn-danger">Eliminar a <%=test.name%> </button>
                        </div>
                    </form>
                </div>
                <% } %> 
            </ul>
        </div>
    </div> 
    <div class="col-6">
        <% if(currentUser) { %> 
        <h2>Deja Una Reseña</h2>
        <form action="/test/<%= test._id %>/reviews" method="POST" class="mb-3 validate-form" novalidate>
            <!-- <div class="mb-3">
                <label class="form-label" for="rating">Calificacion</label><br>
                <input class="form-range" type="range" min="1" max="5" id="rating" name="review[rating]">
            </div> -->
            <fieldset class="starability-basic">
                <!-- <legend>First rating:</legend> -->
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            <div class="mb-3">
                <label class="form-label" for="body">Escribe tu reseña</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="4" required></textarea>
            </div>
           <button class="btn btn-dark">Enviar</button>
        </form>
        <% } %> 
        <% for(let review of test.reviews){ %> 
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= review.author.username %>  </h5>
                <p class="starability-result" data-rating="<%= review.rating %>">
                  Rated: <%= review.rating %> stars
                </p>
                <p class="card-text">Reseña: <%= review.body %></p> 
                <% if(currentUser && review.author.equals(currentUser)){ %>  
                <form action="/test/<%= test.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Eliminar</button>
                </form>
                <% } %> 
            </div>
        </div>
        <% } %> 
    </div>
</div>
